# PyPDF2
# python-dotenv
faiss-cpu
altair
streamlit-extras
tiktoken
unstructured
pytesseract
# pickle


# streamlit
# openai
# langchain
pandas
tabulate

streamlit
openai
python-dotenv
PyPDF2
langchain   # Replace with the correct version of langchain package
faiss   # Replace with the correct version of faiss package
Pillow
